<div class="row">
    <div class="col-md-12 text-center">
        <h2>Oops! Page Not Found</h2>
        <p>Sorry, we couldn't find the page you were looking for.</p>
        <p><a href="/blog">Go back to the Blog</a></p>
    </div>
</div>
